body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

li {
	color: orange;
}

#main-bg {
	background-image: url('../images/concrete_wall.png');
}

.underlined {
	border-width: 5px;
	border-bottom: solid;
	border-color: white;
}